<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP Template</title>
    <link rel="stylesheet" href= "/style.css">

</head>
<body>
    
    <h2>Field Sampler 2.0</h2>

    <section data-position="add-quote">
        <h2>Add Well</h2>
    
        <form action="/addWell" method="POST">
            <input type="text" placeholder="Well Name" name="wName" id="">
            <input type="text" placeholder="Date Constructed" name="constructionDate" id="">
            <button type="submit">Submit</button>
        </form>
    
      </section>

    <section data-position="quotes">
        <ul class="quotes">
          <% for(let i = 0; i < info.length; i++) {%>
            <li class="quote">
              <span><%= info[i].wellName %></span>
              <span><%= info[i].constructionDate %></span>
              <span class='fa-trash'>DELETE</span>
           </li>
          <% } %>
        </ul>
      </section>

    <script src="/main.js"></script>
</body>
</html>